@keyframes movimientocopado{
    0%{
        transform:scale(0)
    }
    50%{
        from{transform:scale(0.5)}
        to {transform:translateX(100)}
    }
    100%{
        from{transform:scale(1)}
        to{transform: translateX(0)}
    }
}
@keyframes aparecerjoya {
    from {
      opacity: 0;
      transform: translateY(-100%);
    }
    to {
      opacity: 1;
      transform: translateY(0%);
    }
  }
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
body{
    background-color: dimgrey;
}
.parrafo{
    color:azure
}
.titulo {
    margin-top: 2%;
    margin-bottom: 2%;
    animation-name: movimientocopado;
    animation-duration: 3s;
    display: flex;
    justify-content: center;
    color:azure;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    cursor:pointer;
    margin-right: 5%;
}
.logo h1{
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
    cursor:pointer;
    color:azure
}
.header {
    background-color: #252424;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}
.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}
.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navbar li{
    float:left;
}
.navbar li a{
    display:block;
    background-color:rgb(48, 47, 47);
    color:azure;
    display: flex;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.tarjetitaorden {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.tarjetita {
    background-color: #363636;
    width: 400px;
    height: 490px;
    margin: 10px;
    padding: 10px;
    border-radius: 10%;
    display: inline-block;
}
.tarjetita img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.tarjetita h2{
    display: flex;
    text-align: center;
    justify-content: center;
    color:azure;
}
.tarjetita p{
    display: flex;
    justify-content: center;
    text-align: center;
    color:azure
}
.tarjetitaorden .quienesomos{
    text-align: center;
    color:azure;
    margin-top: 25px;
    animation-name: movimientocopado;
    animation-duration: 3s;
}